main:
  server_url: "example.com"
  default_group_image: /default-group.png
  data_folder: /data
  upload_folder: /data/uploads
  database_url: postgresql+psycopg2://postgres:postgres@db/fedigroup
  database_url_alembic: postgresql://postgres:postgres@db/fedigroup
